<div>
    <ng-container *ngIf="cart">
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let training of cart | keyvalue">
                <td>{{training.value.id}}</td>
                <td>{{training.value.name}}</td>
                <td>{{training.value.quantity}}</td>
                <td>{{training.value.price}}</td>
                <td><a class="btn btn-danger" (click)="removeTraining(training.value)">Supprimer</a></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{total}}</td>
            </tr>
        </table>
        <button class="btn btn-success" (click)="navigateToForm()">Commander</button>
    </ng-container>
</div>

