<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h2 class="font-weight-bold">Récapitulatif de la commande :</h2>
        </div>
        <div class="card-body">
            <div class=" d-flex flex-row justify-content-between mx-4 p-2">
                <div class="d-flex flex-column p-2">
                    <label for="customer" class="font-weight-bold">Informations du client :</label>
                    <div class="d-flex flex-row">
                        <span class="font-weight-bold">{{customer.name}}</span>
                        <span class="font-weight-bold px-2">{{customer.firstName}}</span>
                    </div>
                    <span>{{customer.address}}</span>
                    <span>{{customer.phone}}</span>
                    <span>{{customer.email}}</span>
                </div>
                <div class="w-50 d-flex flex-column p-2">
                    <label for="order" class="font-weight-bold">Commande :</label>
                    <div *ngFor="let training of cart | keyvalue" class="d-flex flex-row justify-content-between p-2 text-*-center">
                        <span class="font-weight-bold">{{training.value.name}}</span>
                        <div class="d-flex flex-row px-2">
                            <label for="quantity" class="font-weight-light">Quantité :</label>
                            <span class="px-2">{{training.value.quantity}}</span>
                        </div>
                        <div class="d-flex flex-row">
                            <label for="price" class="font-weight-light">Prix : </label>
                            <span class="px-2">{{training.value.price}} €</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end bg-light">
            <label for="total" class="font-weight-bold">Total : </label>
            <span class="mx-2">{{total}} €</span>
        </div>
    </div>
</div>
